.page-header {
  margin: 50px 0 30px;
  text-align: center;
}

.page-header h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.page-header p {
  color: #555;
}

.about-content {
  max-width: 800px;
  margin: 0 auto 60px;
}

.about-block {
  margin-bottom: 35px;
}

.about-block h2 {
  margin-bottom: 10px;
  color: #1a3d6d;
}

.about-block p {
  color: #444;
  line-height: 1.7;
}
